@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  font-size: 62.5%;
}
body {
  background-color: rgb(235, 235, 235);
  font-size: 2rem;
}

.container {
  max-width: 142rem;
  margin: 0 auto;
  padding: 1.6rem 2.4rem;
}
