.items_nav {
  background-color: #212529;
  color: aliceblue;
  padding: 2rem 2rem;
  display: flex;

  justify-content: space-between;
  border-radius: 1.6rem;
}

.items_input {
  background-color: rgba(255, 249, 249, 0.74);
  border: 0.1rem solid rgb(243, 241, 241);
  border-radius: 0.5rem;
  color: black;
  padding: 0 1rem;
}

.items_ul {
  display: flex;
  gap: 1rem;

  details {
    position: relative;

    summary {
      list-style: none;
      border: 0.1rem solid rgb(255, 251, 251);
      display: flex;
      gap: 0.5rem;
      justify-content: center;
      align-items: center;
      padding: 0 1rem;
      border-radius: 0.5rem;
    }

    ul {
      position: absolute;
      z-index: 1;
      top: 110%;
      right: 4%;
      font-size: 1.5rem;
      font-weight: 500;
      background-color: rgb(247, 240, 240);
      color: #212529;
      border: 0.2rem solid rgb(34, 33, 33);
      border-radius: 0.5rem;
      padding: 0.5rem 0.7rem;
      display: flex;
      flex-direction: column;
      place-items: center;

      li:hover {
        background-color: white;
        padding: 0 1rem;
        border-radius: 1rem;
      }
    }
  }
}
